@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

:root {
  /* COLOR SCHEME */
  --color-primary: #de0f66;
  /* --color-primary-light: #ff3366;
  --color-primary-dark: #ba265d; */

  --color-secondary: #c726a4;
  /* --color-secondary-light: #fab970;
  --color-secondary-dark: #ff7730; */

  /* --color-tertiary-light: #2998ff;
  --color-tertiary-dark: #5643fa; */

  --color-white: #fff;

  /* --color-gray-light-1: #faf9f9;
  --color-gray-light-2: #f4f2f2;
  --color-gray-light-3: #f0eeee;
  --color-gray-light-4: #ccc; */

  --color-gray-dark-1: #999;
  --color-gray-dark-2: #777;
  --color-gray-dark-3: #333;

  --color-black: rgb(22, 22, 22);

  /* FONTS */
  --default-font-size: 1.6rem;

  /* SHADOWS */
  --shadow-light: 0 0.5rem 2rem rgba(var(--color-black), 0.2);
  --shadow-med: 0 1rem 3rem rgba(var(--color-black), 0.3);
  --shadow-dark: 0 2rem 5rem rgba(var(--color-black), 0.3);
}

/* for low level basics such as
resets, */
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  /* this defines 1rem = 10px; */
  font-size: 62.5%; /* 10px/16px = 62.5%  default browser font size = 16px */
}

body {
  font-family: 'Montserrat', cursive, sans-serif;
  font-weight: 400;
  font-size: var(--default-font-size);
  line-height: 1.5;
  padding: 5rem;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(
    to bottom,
    var(--color-primary),
    var(--color-secondary)
  );
  border: 1px solid var(--color-white);
  border-radius: 5px;
}

::selection {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.container {
  background-color: var(--color-gray-dark-1);
  max-width: 900px;
  background-color: var(--color-white);
  padding: 5rem;
  border: 3px solid var(--color-black);
  margin: 0 auto;
  color: var(--color-gray-dark-3);  
}

section:not(:last-child) {
  margin-bottom: 3rem;
}

.header {
  margin-bottom: 5rem;
}

.heading-primary {
  font-size: 4rem;
  font-weight: 700;
}

.header__link {
  text-decoration: none;
  color: var(--color-black);
}

.gr-text {
  color: var(--color-primary);
  -webkit-text-fill-color: var(--color-primary);
}

@supports (-webkit-background-clip: text) or (background-clip: text) {
  .gr-text {
    background-image: linear-gradient(
      135deg,
      var(--color-primary) 0%,
      var(--color-secondary) 100%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
  }
}

.header__bar {
  padding: 2rem;
  background-color: var(--color-black);
  color: var(--color-white);
}

.display-before-550 {
  display: none;
}

.heading-secondary {
  margin-bottom: 1rem;
  text-decoration: underline;
}

.resume__para {
  text-indent: 5rem;
  hyphens: auto;
}

ul {
  list-style-position: inside;
}

.para-link {
  text-decoration: none;
}

.para-link:hover,
.para-link:active {
  padding-bottom: 2px;
  border-bottom: 1px solid var(--color-primary);
}


@media only screen and (max-width: 850px) {
  
  .header {
    margin-bottom: 3rem;
  }

  body {
    padding: 0;
  }
}

@media only screen and (max-width: 750px) {
  .heading-primary {
    font-size: 3.4rem;
  }

  .container {
    padding: 3rem;
  }
}

@media only screen and (max-width: 551px) {

  .display-before-550 {
    display: inline-block;
  }
  
  .display-after-550 {
    display: none;
  }

  .header__bar {
    padding: 1rem;
  }
}

@media only screen and (max-width: 490px) {

  .heading-primary {
    font-size: 2.5rem;
  }
}

@media only screen and (min-width: 300px) {
  html {
    font-size: 52%;
  }
}

@media only screen and (min-width: 550px) {
  html {
    font-size: 60%;
  }
}

@media only screen and (min-width: 600px) {
  html {
    font-size: 65%;
  }
}

@media only screen and (min-width: 980px) {
  /* tab-port */
  html {
    font-size: 75%;
  } /* 12px/16px = 75%  default browser font size = 16px */


}